/////////////////////////
// Generic Animations  //
/////////////////////////

@keyframes opacityIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes heightIn {
  from {
    opacity: 0;
    max-height: 0em;
  }
  to {
    opacity: 1;
    max-height: 100em;
  }
}

@keyframes awayRightWithOpacity {
  0% {
    opacity: 1;
    transform: initial
  }
  20%{
    opacity: 0.6;
  }
  40%{
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(25vw);
  }
}

@keyframes awayLeftWithOpacity {
  0% {
    opacity: 1;
    transform: initial
  }
  20%{
    opacity: 0.6;
  }
  40%{
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(-25vw);
  }
}

@keyframes upFromBottomWithOpacity {
  from {
    transform: translateY(100vh);
    opacity: 0;
  }
  to {
    transform: translateY(0vh);
    opacity: 1;
  }
}

@keyframes upFromBottomWithOpacity2 {
  0% {
    max-height: 0px;
    display: none;
    opacity: 0;
    transform: translateY(100vh);
    margin: -2em 0 0 0;
  }
  1% {
    margin: 1em;
    max-height: inherit;
    transform: translateY(100vh);
    display: flex;
    opacity: 0;
  }
  100% {
    transform: translateY(0vh);
    opacity: 1;
  }
}

/////////////////////
// Header Wrapper  //
/////////////////////

@keyframes headerContainerHomeAppearence {
  0% {
    transform-origin: top center;
    opacity: 0;
    left: 50vw;
    top: 20vh;
    transform: translateX(-50%) scale(0.5);
    margin-top: 0em;
    margin-left: 0em;
  }
  20%, 50% {
    transform-origin: top center;
    opacity: 1;
    left: 50vw;
    top: 20vh;
    transform: translateX(-50%) scale(0.7);
    margin-top: 0em;
  }
  100% { 
    transform-origin: top left;
    left: 2em;
    top: 0vh;
    transform: translateX(0) scale(1);
    margin-top: $cloudDistanceFromTopAfterAnimation;
    margin-left: 0em;
  }
}

@keyframes mobileHeaderContainerHomeAppearence {
  0% {
    opacity: 0;
    top: 5em;
    transform: scale(0.5);
    margin-top: 0em;
    margin-bottom: -5em;

  }
  20%, 50% {
    opacity: 1;
    top: 0;
    margin-top: $cloudDistanceFromTopAfterAnimation;
  }

  100%{
    margin-bottom: 0em;
    transform: scale(1);
  }

}

@keyframes headerContainerPositionCategoryAppears {
  from {
    top: 0em;
    transform: scale(1);
    margin-top: $cloudDistanceFromTopAfterAnimation;
    max-width: 400pt;
    width: 50vw;
  }
  to {
    top: 1em;
    transform: scale(0.5);
    max-width: 320pt;
    width: 320pt;
    margin-top: $cloudDistanceFromTopAfterAnimation / 2;
  }
}

@keyframes headerContainerPositionCategoryAppearsMobile {
  from {
    width: 400pt;
    transform-origin: center center;
    top: 0em;
    transform: scale(1);
    margin-top: $cloudDistanceFromTopAfterAnimation;
  }
  to {
    transform-origin: top left;
    top: 1em;
    transform: scale(0.5);
    margin-top: $cloudDistanceFromTopAfterAnimation / 2;
    width: 320pt;
  }
}

@keyframes headerContainerPositionCategoryDisappears {
  from {
    top: 1em;
    transform: scale(0.5);
    max-width: 320pt;
    margin-top: $cloudDistanceFromTopAfterAnimation / 2;
  }
  to {
    top: 0em;
    transform: scale(1);
    margin-top: $cloudDistanceFromTopAfterAnimation;
    max-width: 400pt;
  }
}

@keyframes headerContainerPositionCategoryDissapearsMobile {
  from {
    transform-origin: top left;
    top: 1em;
    transform: scale(0.5);
    margin-top: $cloudDistanceFromTopAfterAnimation / 2;
    width: 320pt;
    max-width: 90% 
  }
  to {
    max-width: 90%;
    width: 400pt;
    transform-origin: center center;
    top: 0em;
    transform: scale(1);
    margin-top: $cloudDistanceFromTopAfterAnimation;
  }
}

//////////////
// Cloud    //
//////////////

@keyframes cloudMarginsHomeAppear {
  from {
    margin-left: 2em;
    margin-right: 2em;
  }
  to {
    margin-left: 0em;
    margin-right: 0em;
  }
}

//////////////
// Sidebar  //
//////////////

@mixin sidebarDropdownAnimation($initialHeight) {
  @keyframes sidebarDropdown#{$initialHeight} {
    0% {
      opacity: 0;
      max-height: $initialHeight;
      transform: translateY(-100%);
    }
    45% {
      opacity: 0;
    }
    90% {
      opacity: 1;
    }
    100%{
      max-height: 32em;
      transform: translateY(0%);
    }
  }
}

@include sidebarDropdownAnimation(0em);
@include sidebarDropdownAnimation(5em);

@keyframes cloudDropdownCategoryAppear {
  0% {
    opacity: 0;
    transform: translateY(-100%) scale(0.5);
  }
  65% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%) scale(0.5);
  }
}
//////////////////////
// Tower of Bricks  //
//////////////////////

@keyframes towerOfBricksLocationAfterDrop {
  from {
    top: 0vh;
    right: 50vw;
    margin-top: $cloudHeight + 10rem;
    transform: translateX(50%) scale(0.5);
  }
  to {
    top: $cloudDistanceFromTopAfterAnimation;
    margin-top: $cloudHeight + 6rem;
    right: 8vw;
    transform: initial;
  }
}

@keyframes towerOfBricksLocationAfterDropMobile {
  from {
    padding-top: 0em;
    transform: scale(0.6);
  }
  to {
  }
}

@keyframes towerOfBricksAfterCategoryMobile {
  from {
    position: relative;
  }
  to {
    position: relative;
  }
}

  @keyframes brickTextAppears {
  from {
    color: #ffffff;
    opacity: 0.0;
  }
  to {
    color: #000000;
    opacity: 1.0;
  }
}

@mixin brickDropInAnimation($rowsTotal, $brickNum) {
  $brickRow: $rowsTotal - floor(($bricksTotal - $brickNum)/2);

  animation-name: brickDropInAnimation#{$brickRow};
  animation-delay: (($bricksTotal - $brickNum) * 90ms); 
  animation-duration: $minimumBrickDropTime + ($brickRow * $incrementalBrickDropTime);
  animation-timing-function: cubic-bezier(.46,-0.07,.32,.56);
  animation-fill-mode: backwards;
  @keyframes brickDropInAnimation#{$brickRow} {
    from {
      transform: translateY( -600% / ($rowsTotal - $brickRow) );
      opacity: 0;
    }
    to {
      transform: translateY(0%);
      opacity: 1;
    }
  }
}