@keyframes homeAppearence {
    0% {
      opacity: 0;
      left: 50vw;
      top: 15vh;
      transform: translateX(-50%) scale(0.7);
    }

    20%, 50% {
      opacity: 1;
      left: 50vw;
      top: 15vh;
      transform: translateX(-50%) scale(0.7);
    }

    100% { // Use css-transition-group to delay the rendering of the cloud by 0.2s, immediaqte fade in. The entry period lasts the $brickanimationduration time, and once it's gone, we move the cloud
      opacity: 1;
      left: 2em;
      top: 14vh;
    }
  }

  @keyframes sidebarDropdown {
    0% {
      bottom: 0;
      opacity: 0;
      transform: translateY(0)
    }

    50% {
        opacity: 0;
    }

    100% {
      bottom: 0;
      opacity: 1;
      transform: translateY(100%)
    }
  }

  @keyframes towerOfBricksLocation {
    0% {

    }

    100% {
      top: 0em;
      right: 0vw;
      transform: initial;
    }
  }

  @mixin brickDropInAnimation($brickRow, $rowsTotal) {
    @keyframes brickDropInAnimation#{$brickRow} {
      0% {
          transform: translateY( -600% / ($rowsTotal - $brickRow) );
          opacity: 0;
      }
      
      100% {
          transform: translateY(0%);
          opacity: 1;
      }
    }
  }