@import "./logic";

.categoryContainer {
    margin-top: 8em;
    text-align: center;

    h1{
        font-size: 4em;
    }
    p.categoryDescription {
        max-width: 30em;
        display: inline-block;
        margin-bottom: 4em;
    }
}

.postsContainer {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .singlePostContainer {
        position: relative;
        background-size: cover;
        padding: 10em 0;
    }

    .singlePostContent{
        text-align: left;
        background-color: #fff;
        max-width: 25em;
        overflow: visible;
        position: relative;
        display: inline-block;

        h2, section {
            z-index: 150;
            position: relative;
        }

        h2 {
            font-weight: 700;
            font-size: 2em;
        }

        .postLinks {
            a {
                @include inlineLink();
            }
        }

        .tags {
            font-size: 0.8em;
            list-style-type: none;
            padding: 0;
            line-height: 1.8;
            text-align: left;
            width: 100%;
            margin: 0;
            li {
                font-weight: 700;
                color: #fff;
                background-color: #000;
                border-color: #000;
                @include inlineButton();
            }
        }

        .postDescription {
            display: none;
        }

        &:after {
            content: " ";
            position: absolute;
            top: -50%;
            left: -15%;
            width: 130%;
            height: auto;
            padding-top: 130%;
            border-radius: 50%;
            background: #fff;
        }
    }

}
