@import "./logic";

.categoryContainer {
    margin-top: 8em;
    text-align: center;

    h1{
        font-size: 4em;
    }
    p.categoryDescription {
        max-width: 30em;
        display: inline-block;
        margin-bottom: 4em;
    }
}

.postsContainer {
    display: flex;
    flex-direction: column;
    background: rgb(249,92,144);
    background: -moz-linear-gradient(left, rgb(249,92,144) 0%, rgb(247,152,56) 18%, rgb(247,237,49) 41%, rgb(200,255,142) 64%, rgb(87,249,155) 80%, rgb(117,250,255) 100%);
    background: -webkit-linear-gradient(left, rgb(249,92,144) 0%,rgb(247,152,56) 18%,rgb(247,237,49) 41%,rgb(200,255,142) 64%,rgb(87,249,155) 80%,rgb(117,250,255) 100%);
    background: linear-gradient(to right, rgb(249,92,144) 0%,rgb(247,152,56) 18%,rgb(247,237,49) 41%,rgb(200,255,142) 64%,rgb(87,249,155) 80%,rgb(117,250,255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f95c90', endColorstr='#75faff',GradientType=1 );

    .singlePostContainer {
        position: relative;
        background-size: cover;
        padding: 10em 0;
        overflow: hidden;
    }

    .singlePostContent{
        text-align: left;
        max-width: 29em;
        overflow: visible;
        position: relative;
        display: inline-block;
        background-color: white;
        padding: 0 2em 2em 2em;

        h2, section {
            z-index: 150;
            position: relative;
        }

        h2 {
            font-weight: 700;
            font-size: 2.2em;
        }

        .byLine {
            font-weight: 600;

        }

        .postLinks {
            margin: 0.5em 0 0.7em 0;
            a {
                @include inlineLink();
                border-width: 0.5px;
                padding: .2em .8em;
                border-radius: 0.6em;
                text-transform: uppercase;
                font-size: 1.1em;
            }
        }

        .tags {
            font-size: 0.8em;
            list-style-type: none;
            padding: 0;
            line-height: 1.8;
            text-align: left;
            width: 100%;
            margin: 0;
            li {
                font-weight: 700;
                color: #fff;
                background-color: #000;
                border-color: #000;
                @include inlineButton();
            }
        }

        .postDescription {
            display: none;
        }

        &:after {
            content: " ";
            position: absolute;
            left: -15%;
            top:50%;
            margin-top: -59%;
            width: 130%;
            height: auto;
            padding-top: 130%;
            border-radius: 50%;
            background: #fff;
            opacity: 0;
        }
    }

}
