// This file should not refrence any variables directly

@mixin inlineButton {
  display: inline-block;
  margin: 0 0.5em 0.5em 0;
  font-size: 1em;
  border-radius: .4em;
  padding: .1em .4em;
}

@mixin inlineLink {
  background-color: transparent;
  border-color: #000;
  border-width: 1px;
  border-style: solid;
  text-decoration: none;
  color: inherit;
  @include inlineButton();
}

@mixin colourfulBackgroundGradient {
  background: rgb(249,92,144);
  background: -moz-linear-gradient(left, rgb(249,92,144) 0%, rgb(247,152,56) 18%, rgb(247,237,49) 41%, rgb(200,255,142) 64%, rgb(87,249,155) 80%, rgb(117,250,255) 100%);
  background: -webkit-linear-gradient(left, rgb(249,92,144) 0%,rgb(247,152,56) 18%,rgb(247,237,49) 41%,rgb(200,255,142) 64%,rgb(87,249,155) 80%,rgb(117,250,255) 100%);
  background: linear-gradient(to right, rgb(249,92,144) 0%,rgb(247,152,56) 18%,rgb(247,237,49) 41%,rgb(200,255,142) 64%,rgb(87,249,155) 80%,rgb(117,250,255) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f95c90', endColorstr='#75faff',GradientType=1 );
}

@mixin stupidInverseCorners {
  content: "";
  top: 0;
  display: block;
  position: absolute;
  height: 1.3vw;
  width: 1.3vw;
  background-size: cover;
}