// Breakpoints
$tiny-width: 27em;
$small-width: 38em;
$medium-width: 58em;
$large-width: 75em;

$brickfall-animation-duration: 2.4s;

$cloudTextSize: 2.5rem;
$cloudPadding: 1.6rem;
$cloudHeight: $cloudTextSize + (2 * $cloudPadding);