.post-sidebar{
  .ssba img{
    width: 2rem !important;
    display: inline !important;
    margin: 0.2em;
    color: $brand-primary;
    border: 0;
    box-shadow: none;
    vertical-align: middle;
    border-radius: 0em 0.5em 0.5em 0;
    @include medium{
      border-radius: 0em 0em 0.5rem 0.5rem;
    };
  }

  .tags {
    display: block;
    float:right;
    clear:both;
    margin: 1em 0 0 10%;
    @include medium{
      display: inline-block;
      text-align: center;
      width:100%;
      margin: 1em 0.3em;
    };
    .btn{
      @include medium{
        display: inline-block;
        margin: 0.25em;
        font-size: 1em;
        border-radius: 0.4em;
        padding:0.1em 0.2em;
      }
    }
  }
}
