p a{
  display: inline-block;
  padding: 0 0.2em;
  text-decoration: none;
  line-height: 1.3em;
  color: inherit;
  border-width: 0.1em;
  border-style: solid;
  border-color: $brand-primary;
  border-radius: $btn-border-radius;
  transition: all 0.3s;

  &:hover, &:visited:hover{
    border-color: darken($brand-primary,35%);
    color: inherit;
    text-decoration: none;
  }
}


.ssba img{
  width: 2rem !important;
  display: inline !important;
  margin: 0.2em;
  color: $brand-primary;
  border: 0;
  box-shadow: none;
  vertical-align: middle;
  border-radius: 0em 0.5em 0.5em 0;
  @include medium{
    border-radius: 0em 0em 0.5rem 0.5rem;
  };
}

.widget .menu .menu-item{
  @extend .btn;
  margin: 0.2em;
  padding: 0.1em 0.3em;
  background-color: $brand-secondary;
}

.tags {
  display: block;
  float:right;
  clear:both;
  margin: 1em 0 0 10%;
  .btn{
    font-size: 1em;
  }
  article header &{
    pointer-events: none;
  }
  .post-meta &{
    @include tiny{ font-size: 0.8em; }
    @include medium{
      display: inline-block;
      text-align: center;
      width:100%;
      margin: 1em 0.3em;
    };
    @include large{ font-size: 0.95em; }
    @include huge{ font-size: 1em; }
    .btn{
      @include medium{
        display: inline-block;
        margin: 0.25em;
        font-size: 1em;
        border-radius: 0.4em;
        padding:0.1em 0.2em;
      }
    }
  }
}

.widget div.wpforms-container-full .wpforms-form button[type=submit]{
  border-radius: 0.4em;
  color: $brand-secondary;
  background-color: $brand-primary;
  font-family: $headings-font-family;
  font-weight: 800;
  font-size: 1.5rem;
  text-transform: uppercase;
  border: 0;
}
