footer.content-info{
  z-index: 500;
  position: relative;
  background-color: $brand-secondary;
  padding: 5em $footer-padding 4em $footer-padding*3;

  @include medium{
    padding: 4em 4em;
  };
  @include small{
    padding-top: 4.5em;
    font-size: 0.9em;
  };
  @include tiny{
    padding: 2em 1em;
  };

  .home{
    display:none;
  }
}

.footer-container{
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  justify-content: flex-end;

  .sidebar-wrapper{
    display: none;
  }

  .subheading{
    font-style: italic;
    font-family: $headings-font-family;
    font-weight: 400;
    font-size: 1.3em;
    .n{
      display: none;
    }
    @include small{
      font-weight: 500;
      margin: 0.4em 0;
      display:block;
    }
  }

  .widget {
    flex: 2 1 20em;
    width: 15em;
    order:2;
    color: $brand-primary;
    a{
      color: $brand-primary;
    }

    @include medium{
      flex: 2 0 100%;
      width: auto;
      margin-bottom: 2em;
    };
    @include large {
      padding: 1em $footer-padding;
      &:first-child {
        flex: 1 1 28em;
        padding-left: 4em;
      }
    }
    & ~ .widget {
      @include medium{
        flex: 1 1 50%;
        align-self: flex-start;
      }
      @include small{
        flex: 1 1 100%;
        .widget-content{
          display: none;
        }
      }
    }

    &.wpforms-widget{
      @include large{
        max-width: 60%;
        h3 {
          opacity: 0;
        }
      }
      .wpforms-container{
        margin-bottom: 0;
        .wpforms-field{
          padding-top: 0;
        }
      }

      .wpforms-field-label{
        @extend .subheading;
        margin-bottom: 0.2em;
      }
      div.wpforms-container-full .wpforms-form .wpforms-one-half{
        width: 49%;
        margin-left: 2%;
        @include small{
          width: 48%;
          margin-left: 4%;
        }
      }
    }
  }
} // .footer-container
