footer.content-info{
  z-index: 500;
  position: relative;
  padding-top: 5em;
  background-color: black;
  $padding: 2em;
  padding: 5em 0 4em $padding;

  .container{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;

    .element{
      flex: 1 0 15em;
      width: 15em;
      max-width: 33.3%;
      order:2;
    }

    .widget:not(.column) {
      @extend .element;
      color: $brand-primary;
      padding-right: $padding;
    }
    .sidebar-wrapper {
      @extend .element;
      display: flex;
      flex-flow: row wrap;
      background-color: $brand-primary;
      color: $brand-secondary;
      padding-left: $padding/2;
      margin: 2em 0;
      border-radius: 0.5em;

      @include large{
        order:1;
        position: relative;
        top:-20em;

      };

      .widget{
        color: inherit;
        padding-right: $padding/2;
        flex: 1 1 15em;
        max-width: auto;
      }
    }
  }
}
