html, body{
  height: 100%;
  width: 100%;
  position: relative;
  scroll-behavior: smooth;
}

.home {
  .wrap{
    padding: 0 10%;
  }
  .content.row{
    margin: 0;
    justify-content: space-between;;
    flex-direction: row;
    flex-wrap: wrap;

    header {
      flex: 1 0 30%;
      z-index: 100;
      &.sitewide{
        padding-top: $main-padding-top/1.5;
      }
    }
    #theCloud{
      display:inline-block;
      text-align: center;
      background-color: white;
      padding:1.6em;
      align-self: flex-start;
      border-radius: 9999px;
      position:relative;
      min-width:80%;
      max-width: auto;

      .brand {
        display:inline-block;
        margin:0 0.3em 0.1em 0.1em;
        font-size: 3em;

        a {
          display: block;
          z-index:30;
          color:black;
          text-shadow: 0.1em 0.1em rgba(0, 0, 0, 0.2);
          position:relative;
          top: -0.1em;
          left: -0.1em;
          transition: all 0.5s;
        }

        a:hover {
          top:0em;
          left:0em;
          text-shadow: 0em 0em rgba(0, 0, 0, 1);
          text-decoration: none;
          color:black;
        }
      }
      .backgroundCloud {
        z-index:20;

        .ball{
          display:block;
          position:absolute;
          bottom:0;
          right:0;
          width:100%;
          min-width: 1em;

          &:first-child{ max-width: 1.45em; }
          &:nth-child(2){ max-width: 16rem; }
          &:nth-child(3){ max-width: 23rem; }

          &.big {
            font-size: 10em;
          }
          &.medium {
            font-size: 7.8em;
            bottom: 0.25em;
          }
          &.small {
            font-size: 6em;
            bottom: 0.4em;
          }

          &:after{
            position: absolute;
            left: 0.25em;
            bottom: 0;
            display: block;
            width: 1em;
            height: 1em;
            background-color: white;
            border-radius: 9999px;
            content: " ";
          }
        }
      }
    }

    main {
      position: relative;
      display: flex;
      flex: 0 0 relate($chim-percent, 100);
      flex-flow: row wrap;
      padding: $main-padding-top 0 0;
      justify-content: space-between;

      .brick {
        position:relative;
        height: relate($chim-percent, $brick-height);
        margin-top: relate($chim-percent, $brick-gap);
        background-color: black;
        color: white;
        border-radius: 0.5em;
        z-index:100;
      }

      .big_brick {
        width: $brick-big * 1%;
      }

      .small_brick{
        width: $brick-small * 1%;
      }

      article {
        padding: 0.8em;
        z-index: 100;
        header {
          position:relative;
          max-height: 100%;
          text-overflow: ellipsis;
          h2{
            margin:0 0 0.2em;
            font-size: 1.8rem;
          }
          time {
            display:none;
          }
          .tags {
            text-overflow: ellipsis;
            line-height: 1.6em;
            height: 3.5em;
            overflow-y: hidden;
            a {
              font-size: 0.9em;
            }
          }
        }
        .entry-content{
          display: none;
          opacity: 0;
        }
      } // article

      &:after{
        content: "";
        position: absolute;
        top: $main-padding-top;
        bottom: 0;
        left: relate($chim-percent, $brick-gap*0.4);
        right: relate($chim-percent, $brick-gap*0.4);
        margin-top: relate($chim-percent, $brick-gap*1.4);
        background-color: white;
        z-index: 80;
        border-radius: 0.5em;
      }
    } // main
  } // .content.row
  .fillView{
    position: fixed;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
  }

  #backgroundPost{
    @extend .fillView;
    z-index: 50;
  }

  .backgroundLanscape {
    @extend .fillView;
    z-index: 10;
    .sky-and-land{
      width:100%;
    }
    .sky{
      height:70%;
      margin-bottom:-10vh;
      @extend .sky-and-land;
    }

    .land{
      height:90%;
      @extend .sky-and-land;
    }
  } // .background.container

}
