html, body{
  height: 100%;
  width: 100%;
  position: relative;
}

.home {
  .content.row{
    padding-left: 50%;

    main {
      position: relative;
      display: flex;
      z-index: 100;
      flex: 0 0 relate($chim-percent, 100);
      flex-flow: row wrap;
      padding: $main-padding-top 0 0;
      justify-content: space-between;
      align-content: flex-end;

      .brick {
        position:relative;
        height: relate($chim-percent, $brick-height);
        overflow: hidden;
        margin-top: relate($chim-percent, $brick-gap);
        background-color: black;
        color: white;
        border-radius: 0.5em;
        z-index:100;
      }

      .big_brick {
        width: $brick-big * 1%;
      }

      .small_brick{
        width: $brick-small * 1%;
      }

      article {
        padding: 0.8em;
        header {
          position:relative;
          h2{
            margin-top:0;
          }
          time {
            display:none;
          }
          .tags {
            text-overflow: ellipsis;
            line-height: 1.85;
          }
        }
        .entry-content{
          display: none;
          opacity: 0;
        }
      } // article

      &:after{
        content: "";
        position: absolute;
        top: $main-padding-top;
        bottom: 0;
        left: relate($chim-percent, $brick-gap*0.4);
        right: relate($chim-percent, $brick-gap*0.4);
        margin-top: relate($chim-percent, $brick-gap*1.4);
        background-color: white;
        z-index: 30;
        border-radius: 0.5em;
      }
    } // main
  } // .content.row

  .background.container {
    position: fixed;
    top:0;
    left:0;
    height: 100vw;
    width: 100vw;
    z-index: 10;
    .sky{
      height:60vw;
      margin-bottom:-5vw;
    }

    .land{
      height:10vw;
    }
  } // .background.container

}
