.post-sidebar {
  flex: 1 0 14em;
  min-width: 14em;
  padding-right: 2em;
  text-align: right;

  @include medium{
    flex: 1 0 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    padding-right: 0;
  }

  @include small{
    display:block;
  }

  .postIntro {
    display: block;
    margin-bottom: 1.5rem;
    font-style: italic;
    font-family: $headings-font-family;
    font-size: 1.2em;
    line-height: 1.2;
    @include medium{
      font-size: 1.5em;
      flex: 1 0 100%;
      text-align: center;
      margin: 1.3em 0 1.6em;
      padding: 0 2em;
    }
    @include small{
      font-size: 1.1em;
      margin: 1em 0 1.3em;
    }
    @include tiny{
      font-size: 1em;
      padding: 0;
    }
  }

  .widget, .postLink{
    display: block;
    position: relative;
    float: right;
    clear: both;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1;

    padding: 0.3em 2.2em 0.3em 1.2em;
    margin-bottom: 0.5rem;

    background-color: white;
    border-radius: 0.7em;
    text-align: right;
    cursor: pointer;
    transition: width 0.5s;

      @include medium{
        flex: 1 0 10em;
        align-self: flex-start;
        min-width: 10em;
        text-align: center;
        padding: 0.3em 2.2em 0.3em 2.2em;
        margin-right:0.25em;
        &:before{
          @include eye('left');
        }
        &:hover:before{
          @include eyeHover;
        }
      }
      @include small{
        width:100%;
        margin-right:0;
      }

    h3:not(.postLink), a{
      margin:0;
      font-family: $headings-font-family;
      font-size: inherit;
      font-weight: inherit;
      color:black;
      text-transform: uppercase;
    }
    &.viewSite{
      background-color: $link-1;
    }
    &.repo{
      background-color: $link-2;
    }
    &.widget:nth-child(4){
      background-color: $link-3;
    }
    &.widget:nth-child(5){
      background-color: $link-4;
    }

    .widget-content{
      display:none;
      margin-left: -3%;
      margin-right: -3%;
      @include small{
        margin-left: 2%;
        margin-right: 2%;
      };
      @include tiny{
        margin-left: -0.5em;
        margin-right: -0.5em;
      };
      @include large{
        margin-left: -0.5em;
        margin-right: 0;
        font-size: 0.9em;
      };
      @include huge{
        font-size: 1em;
        margin-left: -0.2em;
      };
    } // .widget-content

    &:after{
      @include eye('right');
    }
    &:hover:after{
      @include eyeHover;
    }

    a:hover{
      text-decoration: none;
    }
  }
}
