// Framework
@import "styling/logic";
@import "styling/variables";
@import "styling/global";


// React Components

// Index
.compactWidth{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

@import "styling/headerCloud";
@import "styling/sidebar";
@import "styling/outlinks";
@import "styling/towerOfBricks";
@import "styling/categoryAndPost";