.categoryContainer {
    margin-top: 8em;
    text-align: center;

    .category &.router-enter-active, .category &.router-appear-active {
        animation: categoryPageAppears 0.6s ease-out backwards;
    }

    &.router-exit-active {
        animation: categoryPageAppears 0.6s ease-out alternate-reverse backwards;
    }

    h1{
        font-size: 4em;
    }
    p.categoryDescription {
        max-width: 30em;
        display: inline-block;
        margin-bottom: 4em;
    }
}