.sidebar {
    position: relative;
    padding-top: 1em;
    margin: 0 2em;
    max-height: 50em;
    height: auto;
    transform-origin: top center;
    animation-timing-function: cubic-bezier(.46,-0.07,.23,.54);

    .compactWidth & {
        margin: 1em;
    }

    .emptyhome & {
        max-height: 5em;
        opacity: 0;
    }

    &.sidebar-exit-active {
        animation: sidebarDropdown0em 0.7s alternate-reverse both;
    }

    .emptyhome &.sidebar-enter-done {
        opacity: 1;
        max-height: initial;
        animation-name: sidebarDropdown5em;
        animation-duration: 0.7s;
        animation-fill-mode: backwards;
        animation-delay: 0.7s;
    }

    .compactWidth.emptyhome &.sidebar-enter-done {
        animation-duration: 1.5s;
    }

    .compactWidth.homecategory &.sidebar-exit-active {
        animation: awayLeftWithOpacity 0.7s forwards;
    }

    // Coming back to home from category
    .categoryhome & {
        animation: sidebarDropdown5em 0.7s both;
    }

    .compactWidth.categoryhome &.sidebar-enter {
        position: absolute;
        display: none;
    }

    .compactWidth.categoryhome &.sidebar-enter-done {
        animation: awayLeftWithOpacity 0.7s forwards reverse;
    }
}

.compactWidth .aboutOlivier {
    font-size: 1.5em;
    h2 {
        display: none;
    }
}

@media screen and (max-width:24em) {
    .compactWidth .aboutOlivier{
        font-size: 1.3em;
    }
}