.sidebar {
    position: relative;
    padding-top: 1em;
    margin: 0 2em;
    max-height: 50em;
    height: auto;
    transform-origin: top center;
    animation: sidebarDropdown 0.7s both;
    animation-delay: $brickfall-animation-duration - 1s;
    animation-timing-function: cubic-bezier(.46,-0.07,.23,.54);

    .outlinks {
        margin-top: 0em;
        animation: sidebarDropdown 0.5s both;
        animation-delay: $brickfall-animation-duration - 0.45s;
        animation-timing-function: cubic-bezier(.46,-0.07,.23,.54);
    }
}

.compactWidth .sidebar {
    margin: 1em;
}