.sidebar {
    position: absolute;
    padding-top: 1em;
    margin: 0 2em;
    max-height: 50em;
    height: auto;
    animation: sidebarDropdown 0.5s both;
    animation-delay: 1.7s;

    .outlinks {
        margin-top: 0em;
        animation: sidebarDropdown 0.5s both;
        animation-delay: 2s;
    }
}

.compactWidth .sidebar {
    margin: 1em;
}