.outlinks {
    padding: 2em 0;
    a {
        display: inline-block;
        width: $outlinksDiameter;
        height: $outlinksDiameter;
        background-color: white;
        margin-right: 0.6em;
        background-size: cover;
        color: transparent;
        vertical-align: middle;
        &#Github {
            background: url(./graphics/icon_github_002.svg);
        }
        &#LinkedIn {
            background: url(./graphics/icon_linkedin_003.svg);
            width: 2em;
            height: 2em;
        }
        &#Email {
            background: url(./graphics/icon_email_004.svg);
        }
        &#Telephone {
            background: url(./graphics/icon_phone_005.svg);
        }
    }
}

.compactWidth .outlinks {
    text-align: center;
}