.postsContainer {
    display: flex;
    flex-direction: column;

    .singlePostContainer {
        position: relative;
        overflow: hidden;
        @include colourfulBackgroundGradient;
        margin: 4vh 5vw;
        border-radius: 3vw;
    }

    .image {
        height: 28vw;
        background-size: cover;
        background-position: center bottom;
    }

    .singlePostContent{
        text-align: left;
        overflow: visible;
        background-color: white;
        padding: 1px 2em 2em 2em;

        h2, section {
            z-index: 150;
            position: relative;
        }

        h2 {
            font-weight: 700;
            font-size: 2.2em;
        }

        .byLine {
            font-weight: 600;

        }

        .postLinks {
            margin: 0.5em 0 0.7em 0;
            a {
                @include inlineLink();
                border-width: 0.5px;
                padding: .2em .8em;
                border-radius: 0.6em;
                text-transform: uppercase;
                font-size: 1.1em;
            }
        }

        .tags {
            font-size: 0.8em;
            list-style-type: none;
            padding: 0;
            line-height: 1.8;
            text-align: left;
            width: 100%;
            margin: 0;
            li {
                font-weight: 700;
                color: #fff;
                background-color: #000;
                border-color: #000;
                @include inlineButton();
            }
        }
    }

}
