.postsContainer {
    display: flex;
    flex-direction: column;

    .singlePostContainer {
        margin: 4vh 5vw;
        display: flex;
        flex-direction: column;
        text-align: initial;
    }

    .imageWrapperForGradientFallback {
        height: 32vw;
        overflow: hidden;
        margin-bottom: -1vw;
        @include colourfulBackgroundGradient;
    }

    .image {
        min-width: 100%;
    }

    .singlePostContent {
        display: flex;
        flex-direction: row;
        background-color: white;
        border-radius: 0vw 0vw 2vw 2vw;
        padding: 2em 6vw 0 4vw;

        .footerElement {
            align-self: flex-end;
            position: relative;
            bottom: -2.2em;
            z-index: 25;
        }

        .info {
            flex: 1 1 38em;
            padding-left: 3em;

            .widthController {
                max-width: 38em;
                display: inline-block;
                text-align: initial;
            }

            h2.postTitle {
                margin: 1em 0 0 0;
                font-weight: 700;
                font-size: 2.2em;
            }

            .byLine {
                font-weight: 500;
                margin-top: 0.5em;
                a {
                    @include inlineLink()
                }
            }

            .tags {
                font-size: 0.8em;
                list-style-type: none;
                padding: 0;
                line-height: 1.8;
                text-align: left;
                width: 100%;
                li {
                    font-weight: 700;
                    color: #fff;
                    background-color: #000;
                    border-color: #000;
                    @include inlineButton();
                }
            }
        }

        .readMoreButton {
            display: block;
            text-transform: uppercase;
        }

        .postLinks {
            display: inline-block;           
            a {
                margin: 0 1.2em 0 0;
                text-transform: uppercase;
                text-decoration: none;
                color: inherit;
            }
        }
    }

    .decorativeFooter {
        background-color: rgba(255,255,255,1);
        padding: 0.5em 2em 0.5em 2em;
        margin: 0 4.5vw 0 3vw;
        border-radius: 0 0 2vw 2vw;
        min-height: 2.8vw;
        position: relative;
        z-index: 10;

        &:before {
            @include stupidInverseCorners;
            left: -1.3vw;
            background-image: url(./graphics/antiCorner2.svg);
        }

        &:after {
            @include stupidInverseCorners;
            right: -1.3vw;
            background-image: url(./graphics/antiCorner1.svg);
        }
    }

    .postDescription {
        display: block;
        overflow-y: hidden;
        max-height: initial;

        &.toggle-enter {
            max-height: 0em;
            animation: heightIn 0.7s ease-in both;
        }

        &.toggle-exit {
            animation: heightIn 0.7s ease-out forwards reverse;
        }
    }
}
