.postsContainer {
    display: flex;
    flex-direction: column;

    .singlePostContainer {
        margin: 4vh 5vw;
        display: flex;
        flex-direction: column;
        text-align: initial;
    }

    .imageWrapperForGradientFallback {
        height: 28vw;
        overflow: hidden;
        margin: 0 0.45em;
        margin-bottom: -1vw;
        @include colourfulBackgroundGradient;
    }

    .image {
        min-width: 100%;
    }

    .singlePostContent {
        display: flex;
        flex-direction: row;
        background-color: white;
        border-radius: 1vw;
        padding: 2em 4vw 1em 4vw;

        .info {
            flex: 1 1 38em;
            padding-left: 3em;

            .widthController {
                max-width: 38em;
                display: inline-block;
                text-align: initial;
            }

            h2.postTitle {
                margin: 1em 0 0 0;
                font-weight: 700;
                font-size: 2.2em;
            }

            .byLine {
                font-weight: 500;
                margin-top: 0.5em;
                a {
                    @include inlineLink()
                }
            }

            .tags {
                font-size: 0.8em;
                list-style-type: none;
                padding: 0;
                line-height: 1.8;
                text-align: left;
                width: 100%;
                margin-bottom: 2em;
                li {
                    font-weight: 700;
                    color: #fff;
                    background-color: #000;
                    border-color: #000;
                    @include inlineButton();
                }
            }
        }

        .footerElement {
            align-self: flex-end;
            position: relative;
            bottom: -2.7em;
            z-index: 25;
        }

        .readMoreButton {
            flex: 0 0 6em; 
        }

        .postLinks {
            display: inline-block;           
            a {
                margin: 0 1.2em 0 0;
                text-transform: uppercase;
                text-decoration: none;
                color: inherit;
            }
        }
    }

    .decorativeFooter {
        background-color: rgba(255,255,255,1);
        padding: 0.5em 2em 0.5em 2em;
        margin: 0 1.8vw;
        border-radius: 0 0 1vw 1vw;
        min-height: 1.8vw;
        position: relative;
        z-index: 10;

        &:before {
            left: -1vw;
            background-image: url(./graphics/antiCorner2.svg);
            @include stupidInverseCorners;
        }

        &:after {
            right: -1vw;
            background-image: url(./graphics/antiCorner1.svg);
            @include stupidInverseCorners;
        }
    }
}
